.Navbar{
    display: flex;
    // height: 10vh;
    width: 100%;
    // padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    
    .Logo-Container { 
        height: 100%; 
        width: 70px; 
        padding: 25px; } 

    .Navbuttons{
        margin-right: 10px;
        list-style: none;
        gap: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%; height: 100%; 
        // text-decoration: none;

        .NavLinks{
            text-decoration: none;
            padding: 10px 15px;
            color: black;
            cursor: pointer;
        }
    }
}