// .main-checkout-container {
//     display: flex;

//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 60%;
//     margin: 50px auto 0;
    
//     // gap: 4rem;
//     // justify-content: space-around;
//     // width: 60%;
//     .checkout-header{
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         padding: 20px;
//         // gap: 4rem;
//     }
//     .checkout-items-container{
//         // display: flex;
        
//         // flex-direction: column;
//         // align-items: flex-start;
//         // gap: 2rem;
//         display: flex;

//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         width: 60%;
//         margin: 50px auto 0;
//         .checkout-item{
//             // display: flex;
//             // gap: 2rem;
//             display: flex;
//             justify-content: space-between;
//             width: 100%;
//             padding: 20px;
//         }
//     } 
// }

.main-checkout-container { 
    width: 55%; 
    min-height: 90vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 50px auto 0;
     .checkout-header {
         width: 100%;
         padding: 10px 0;
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid darkgrey;
         .header-block {
             text-transform: capitalize;
         width: 23%;
         &:last-child {
             width: 8%;
     }
    }
}
      .total {
         margin-top: 30px;
         margin-left: auto;
         font-size: 20px;
     }
    }
